<div class="stake">
    <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
        <div class="rectangle">
            <!-- <img src="assets/img/withdrwaw-bitmap.png" class="bitmap"> -->
            <img routerLink="/stake" src="assets/img/landing-bitmap 1@2x.png" class="bitmap1" />
            <div class="rules" routerLink="/rule">
                Rules
            </div>
            <a href="landing.html">
                <div class="group2">
                    <div class="logout">
                        Login 
                    </div>
                    <div class="exit2">
                        <img src="assets/img/withdrwaw-shape@2x.png" class="shape" />
                        <img src="assets/img/withdrwaw-shape 1@2x.png" class="shape1" />
                        <img src="assets/img/withdrwaw-shape 2@2x.png" class="shape2" />
                    </div>
                </div>
            </a>
        </div>
        <div class="rulEnLes">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'Iorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <ul>
                <li>Suspendisse porttitor dolor nec ipsum aliquam, et viverra diam vestibulum.</li>
                <li>Etiam blandit elit dignissim elit vehicula dignissim.</li>
                <li>Praesent placerat sapien non eros facilisis, sit amet egestas nisi egestas.</li>
                <li>Vestibulum ut lectus non dui condimentum lobortis.</li>
                <li>Integer pellentesque metus porta vehicula tempor.</li>
                <li>Phasellus at quam quis erat gravida accumsan et sit amet nisi.</li>
                <li>Etiam molestie mauris eget porttitor dignissim.</li>
                <li>Cras vulputate odio id leo tempus volutpat.</li>
                <li>Nullam ac risus vitae quam condimentum cursus nec at augue.</li>
                <li>Suspendisse in urna ut dolor suscipit prasanjit.</li>
            </ul>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'Iorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </div>
</div>
