@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:400,300');

@font-face {
  font-family: "SFProText-Regular";
  src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
}

.landing {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1281px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.landing .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 228px;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 616px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landing .bitmap .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 228px;
  width               : 363px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landing .investinthefuture {
  background-color    : rgba(255,255,255,0.0);
  top                 : 223px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.89px;
  line-height         : 79.0px;
}
.landing .dearednaholderits {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 87px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 29.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.08px;
  line-height         : 39.0px;
}
.landing .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 339px;
  height              : 62px;
  width               : 241px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landing .group .rectangle5 {
  background-color    : rgba(33, 117, 255, 1.0);
  top                 : 0px;
  height              : 62px;
  width               : 241px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 31px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landing .group .stakeedna {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.8px;
  line-height         : 29.0px;
}
.landing .whatisstaking {
  background-color    : rgba(255,255,255,0.0);
  top                 : 356px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 353px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 1.58px;
  line-height         : 30.0px;
}
.landing .rectangle6 {
  background-color    : rgba(215, 215, 215, 0.4);
  top                 : 512px;
  height              : 769px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.49;
}
.landing .stakingiseasiestt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 632px;
  height              : auto;
  width               : 894px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.91px;
  line-height         : 34.0px;
}
.landing .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1152px;
  height              : 62px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landing .group1 .rectangle5 {
  background-color    : rgba(33, 117, 255, 1.0);
  top                 : 0px;
  height              : 62px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 31px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landing .group1 .investnow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.8px;
  line-height         : 29.0px;
}
.landing .whatisstaking1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 548px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.6px;
  line-height         : 40.0px;
}
.landing .waitnomorethisi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1102px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(208, 1, 27, 1.0);
  text-align          : left;
  letter-spacing      : 1.91px;
  line-height         : 32.0px;
}
.landing .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 82px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}