@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:400,300');

@font-face {
  font-family: "SFProText-Regular";
  src: url('../../assets/fonts/SF-Pro-Text-Regular.otf') format("opentype");
}

.stake {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 742px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.stake .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 742px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 377px;
  width               : 1027px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .youhave538992889 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 543px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 1.39px;
  line-height         : 24.0px;
}
.stake .unstake {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : 66px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 369px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .unstake .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 66px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.stake .unstake .unstake1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(33, 117, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.08px;
  line-height         : 35.0px;
}
.stake .stake1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 66px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 189px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .stake1 .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 66px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .stake1 .stake2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(33, 117, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.08px;
  line-height         : 35.0px;
}
.stake .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 277px;
  height              : 89px;
  width               : 719px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 71px;
  width               : 503px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group .stakenow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 89px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group .stakenow .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 89px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group .stakenow .stake2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.08px;
  line-height         : 35.0px;
}
.stake .group .amounttoinvest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 266px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  letter-spacing      : 1.67px;
  line-height         : 28.0px;
}
.stake .group .e61d {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 11px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group .e61d .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 15px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.32;
}
.stake .group .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 73px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 217px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.23;
}
.stake .group .weekly {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  letter-spacing      : 1.67px;
  line-height         : 28.0px;
}
.stake .yourchoiceof3te {
  background-color    : rgba(255,255,255,0.0);
  top                 : 382px;
  height              : auto;
  width               : 819px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.39px;
  line-height         : 19.0px;
}
.stake .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 82px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .rules {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 699px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.91px;
  line-height         : 25.0px;
}
.stake .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 30px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 820px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group2 .logout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.91px;
  line-height         : 25.0px;
}
.stake .group2 .exit2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group2 .exit2 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 29px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group2 .exit2 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 1px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stake .group2 .exit2 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 11px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
