
        <div class="landing">
            <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                <div class="bitmap">
                    <img src="assets/img/landing-bitmap.png" class="bitmap2" />
                </div>
                <div class="investinthefuture">
                    Invest in the Future
                </div>
                <div class="dearednaholderits">
                    Dear EDNA holder its time to
                </div>
                <a (click)="checkScatterWithIdentity()" >
                    <div class="group">
                        <div class="rectangle5">
                        </div>
                        <div class="stakeedna">
                            Stake EDNA
                        </div>
                    </div>
                </a>
                <div class="whatisstaking">
                    What is Staking?
                </div>
                <div class="rectangle6">
                </div>
                <div class="stakingiseasiestt">
                    Staking is easiest to picture is you think of is similar to opening a Certificate of Deposit (CD) at your local bank.
                    <br/>
                    <br/>
                    Your choice of 3 "terms lengths" are offered: Weekly, Monthly or Quarterly.
                    <br/>
                    <br/>
                    Monthly is rewarded at 1.5 times the weekly reward, and quarterly at double the weekly "term".
                    <br/>
                    <br/>
                    There are no minimums or maximum stakes and you can withdraw at any time. You will be warned by the software if you will loose rewards when withdrawing early.
                    <br/>
                    <br/>
                    <br/>
                    You will need Scatter to interact with the program managing contract.
                    <br/>
                    Help installing and setting up Scatter is available here - video.
                    <br/>
                    <br/>
                </div>
                <div class="group1" (click)="checkScatterWithIdentity()">
                    <div class="rectangle5">
                    </div>
                    <div class="investnow">
                        Invest Now
                    </div>
                </div>
                <div class="whatisstaking1">
                    What is Staking?
                </div>
                <div class="waitnomorethisi">
                    Wait no more, this is a once in a lifetime opportinity.
                </div>
                <img src="assets/img/landing-bitmap 1@2x.png" class="bitmap1"/>
            </div>
        </div>
        <!-- Scripts -->

        <!-- End of Scripts -->

        <p-growl [(value)]="msgs"></p-growl>